{% extends 'base.html' %}

{% block contenido %}
<center>
    <div class="container-fluid" style="margin: 200px;">
        <h1 class="Categorias">Categorias</h1>
        <br>
        <ul>
            {% for categoria in categoria %}
                <li>{{ categoria.nombre}}
                (<a style="color: black;" href="{% url 'apps.post:categoria_delete' pk=categoria.pk %}">Eliminar</a>)</li>
            {% empty %}
                    <li>No hay categorias</li>
            {% endfor %}
        </ul>
    </div>
</center>

{% endblock contenido %}

