{% extends 'base.html' %}
{% load  colaborador_tags %}
{% block contenido %}

<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class= "container-fluid" "style= margin:200px;">
        <div class= "container-fluid" "style= margin-top:300px;">
            <a id="botton_post" href= "{%url 'apps.post:crear_categoria'%}">Crear Nueva categoria</a>
        </div>

    <h1>Crear Post</h1>
    <form method= "POST" enctype="multipart/form.data">
        {% csrf_token %}
        {{ form.as_p}}
     <input type= "submit" value= "Guardar">
    </form>

</div>
{% endif %}
</center>
{% endblock contenido %}