{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<center>
    <br>
	<article class="articulo">
		
		<h1>TITULO: {{posts.titulo}}</h1>

		<img src="{{posts.imagen.url}}" width="300" height="auto">

		<p>FECHA: {{posts.fecha}}</p>
		<p>CATEGORIA: {{posts.categoria}}</p>
		<p>TEXTO: {{posts.texto}}</p>
	</article>
    <br>
</div>
</center>
<center>
<div class= "container-fluid" style="margin-bottom: 20px;">
    <h4>Comentarios</h4>
    <br><br>
</div>
<div class= "container-fluid" style="margin-bottom: 20px;"></div>
    {% for comentario in comentarios %}
    <p>{{ comentario.usuario }} - {{ posts.usuario}}</p>
    {% if comentario.usuario == request.user %}
    <button>Editar</button>
    <button>Borrar</button>
    {% endif %}
    <table>{{ comentario.usuario }} - {{ comentario.fecha }}</table>
    <ul class= "w-100 list-unstyled d-flex justify-content-between mb-0">
        <p>{{ comentario.texto }}</p>
        <br><br>
    </ul>
    {% empty %}
    <li>No hay comentarios - Puedes ser el primero en comentar!</li>   
    {% endfor %}
</div>
<a id="comentario"></a>
<div class="container-fluid" style="margin-bottom: 100px">
<form method="POST" style= "margin-bottom: 100px; margin-top: 100px">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <h2>Deja tu comentario</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value= "Comentar">
        </form>
    {% else %}
        <h2>Debes iniciar sesion o registrarte para comentar</h2>
        <a class="btn btn-success btn-lg" href="{% url 'apps.usuario:login' %}?next={{ request.path }} #comentario">Iniciar sesion</a>
        <input type="hidden" name="next" value="{{ request.path }}">
        {% endif %}
      
</form>
</div>
</center>
{% endblock %}