{% extends 'base.html' %} 
{% load  static %}
{% load  colaborador_tags %}
{% block contenido %}

{% block title %} Todos los post {% endblock title %}
{% if user.is_superuser or request.user|has_group:"Colaborador" %}
<div class="container-fluid" style="margin-top: 300px;">
  <a id="boton_post" href="{% url 'apps.post:crear_post' %}">Crear nuevo post</a>
</div>
{% endif %}
<h2>Ordenar por:</h2>
<ul>
  <a id= "boton_post" href="{% url 'apps.post:posts' %}?orden=reciente">Mas recientes</a>
  <a id= "boton_post" href="{% url 'apps.post:posts' %}?orden=antiguo">Mas antiguo</a>
  <a id= "boton_post" href="{% url 'apps.post:posts' %}?orden=alfabeticoA-Z">Alfabetico A-Z</a>
  <a id= "boton_post" href="{% url 'apps.post:posts' %}?orden=alfabeticoZ-A">Alfabetico Z-A</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categorias
    </button>
    <ul class="dropdown-menu">
      {% for cat in categoria %}
      <li><a class="dropdown-item" href="?id={{ cat.pk }}"> {{cat.nombre}} </a></li>
    {% endfor %}
    </ul>
  </div>
  {% comment %} <a id= "boton_post" href="{% url 'apps.post:posts' %}?categoria=CATEGORIA">Categoria</a> {% endcomment %}
</ul>
  <section class="post-list">
    
    <div class="content">
      {% for i in posts %}
      <article class="post">
        <div class="post-header">
          <div class="post-img">
             <img
              width="100%"
              height="200px"
              style="object-fit: cover"
              src="{{ i.imagen.url }}"
              alt=""
            /> 
          </div>
        </div>
        <div class="post-body">
          <span>{{ i.fecha }}| Diseño Web </span>
          <h2>{{ i.titulo }}</h2>
          <h3>Por {{i.usuario}}</h3>
          <p>{{ i.texto|truncatewords:30 }}</p>
          <a href="{% url 'apps.post:post_individual' i.id %}" class="post-link"
            >Leer Mas...</a
          >
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
</body>
{% endblock contenido %} {% comment %} {% endblock %} {% extends 'base.html' %} {% block
contenido %}
<title>{% block title %} Todos los post {% endblock title %}</title>
{% for i in posts %}
<br />
<li>{{ i.titulo }}</li>
<li>{{ i.subtitulo }}</li>
<li>{{ i.categoria }}</li>
<br />
<a id="boton_post" href="{% url 'apps.post:post_individual' i.id %}">
  Ir a este Posts
</a>

{% empty %}
<h1>No hay registros</h1>

{% endfor %}
<br />
{% endblock %} {% endcomment %}
