{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block contenido %}
<center>
    <br>
	<article class="articulo">
		
		<h1 style="color: black;">TITULO: {{posts.titulo}}</h1>

		<img src="{{posts.imagen.url}}" width="300" height="auto">
		<p>FECHA: {{posts.fecha}}</p>
		<p>CATEGORIA: {{posts.categoria}}</p>
		<p>TEXTO: {{posts.texto}}</p>
	</article>

    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin-top: 30px;">
        <a id="boton_post" href="{% url 'apps.post:post_update' pk=posts.id %}">Modificar Post</a>
    </div>
    <div class="container-fluid" style="margin-top: 30px;">
        <a id="boton_post" href="{% url 'apps.post:post_delete' pk=posts.id %}">Eliminar Post</a>
    </div>

    {% endif %}
    <br>
</div>
</center>
{% include "comentario/crear_comentario.html" %}
{% endblock contenido %}