{% extends 'base.html' %}

{% block contenido %}
<body>
	<title>{% block title %} Todos los post {% endblock title %}</title>
	<section class="post-list">
		<div class="content">
			{% for i in posts %}
			<article class="post">
				<div class="post-header">
					<div class="post-img">
						<img width="100%" height="200px" style= "object-fit: cover;" src="{{ i.imagen.url}}" alt="">
					</div>
				</div>
				<div class="post-body">
					<span>{{ i.fecha }}| Diseño Web </span>
					<h2>{{ i.titulo }}</h2>
					<h3>Por {{i.usuario}}</h3>
					<p>{{ i.texto|truncatewords:30 }}</p>
					<a href="{% url 'apps.post:post_individual' i.id %}" class="post-link">Leer Mas...</a>
				</div>
			</article>
			{% endfor %}
		</div>
	</section>
</body>
{% endblock %}

{% comment %} {% endblock %}

{% extends 'base.html' %}

{% block contenido %}
<title>{% block title %} Todos los post {% endblock title %}</title>
    {% for i in posts %}
        <br>
        <li>{{ i.titulo }}</li>
        <li>{{ i.subtitulo }}</li>
        <li>{{ i.categoria }}</li>
        <br>
        <a id="boton_post" href= "{% url 'apps.post:post_individual' i.id %}">
            Ir a este Posts
        </a>

        {% empty %}
        <h1>No hay registros</h1>

    {% endfor %}
    <br>
{% endblock %} {% endcomment %}