{% extends 'base.html' %}
{% load colaborador_tags %}
{% block contenido %}

<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" or comentario.usuario == user %}
        <div class="container-fluid" style="margin: 300px;">
        <h1>Eliminar comentario</h1>
        <p>¿Estas seguro de que desea eliminar este comentario?</p>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Si,Eliminar">
            <a style="color: black; " href="{{ object.get_absolute_url }}">No, Cancelar</a>
        </form>
        </div>
    {% else %}
            <div class="container-fluid" style="margin: 300px;">
                <h1>Solo los usuarios con permisos pueden acceder a esta pagina</h1>
            </div>
    {% endif %}
</center>

{% endblock contenido %}